/* ------------------ FONTS MUST BE FIRST ------------------ */
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

/* ------------------ TAILWIND CORE ------------------ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ GLOBAL STYLES ------------------ */
html, body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

section {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}


/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glow-yellow {
  box-shadow: 0px 0px 22px rgba(255, 221, 0, 0.55);
}


